body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.bookList {
  border: 1px black solid;
}

.form-container {
  margin: auto;
  width: 400px;
}

.list-group > li > div {
  display: flex;
  justify-content: space-between;
}

#booksList li {
  list-style: none;
  background: white;
}

#booksList li:nth-child(odd) {
  background: lightgrey;
}

#contactSection {
  width: 50%;
  margin: auto;
}
